.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
    text-transform: uppercase;
    padding: 0 6%;
    
    &__buttons {
        &--speakers {
            border: none;
            text-decoration: none;
            color: #252525;
            background: none;
            text-transform: uppercase;
            font-size: 15.63px;
            line-height: 100%;
            letter-spacing: -0.24px;
            vertical-align: middle;
            border-bottom: 2px dashed #252525;
            transition: 0.3s ease-in-out;
            &:hover {
                cursor: pointer;
                color: #7e7070;
                border-bottom: 2px dashed #7e7070;
            }
        }

        &--get-tickets {
            text-decoration: none;
            border: none;
            color: #D5E1E1;
            padding: 20px 34px;
            background: #252525;
            border-radius: 60px;
            margin-left: 23px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: -0.24px;
            vertical-align: middle;
            margin-right: 6px;
            transition: 0.2s ease-in;
            &:hover {
                cursor: pointer;
                box-shadow: 3px 4px 10px grey;
            }
        }

        .btn1-speakers {
            border-bottom: 2px dashed #FFF5DA;
            color: #FFF5DA;
            transition: 0.3s ease-in-out;
            &:hover {
                cursor: pointer;
                color: #252525;
                border-bottom: 2px dashed #252525;
            }
        }

        .btn2-speakers {
            color: #252525;
            background: #FFF5DA;
        }

    }
}
