.animation-container {
    position: relative;
    width: 260px;
    height: 284px;
  }
  
  .animation-config {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }